@font-face {
    font-family: 'pixelFont';
    src: url(./assets/fonts/pixelmania/Pixelmania.ttf) format('truetype');
}

:root {
    --dark-purple: rgb(47, 5, 58);
    --light-purple: rgb(104, 11, 128);
    --background-color: rgb(206, 204, 93);
}

html, 
body {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: pointer;
    
}

body {
    display: grid;
    grid-template-rows: 1fr 8fr;

    height: 100vh;
    background-color: var(--background-color);

    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.logo {
    font-family: 'pixelFont';
    color: var(--dark-purple);
    font-size: 2rem;
    cursor: pointer;
}

.icon {
    height: 50px;
    margin: 10px;
    filter: invert(12%) sepia(76%) hue-rotate(260deg) saturate(1000%) brightness(92%) contrast(100%);
}

.balloon, 
.project-form-container, 
.task-form-container, 
.tasks-sub-container {
    box-sizing: border-box;
    width: 900px;
    height: 450px;
    border-radius: 15px;
    border: 3px solid var(--dark-purple);
    margin-top: 20px;
}

.balloon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-container {
    padding: 20px 0 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.tasks-sub-container {
    background-color: rgb(238, 210, 234);
}

.project,
.task {
    height: 80px;
    width: 120px;
}

.project-item, 
.task-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item:hover img, 
.task-item:hover img {
    filter: invert(12%) sepia(76%) hue-rotate(260deg) saturate(2000%) brightness(92%) contrast(100%);
}
.project-item:hover div, 
.task-item:hover div {
    text-decoration: underline;
    text-decoration-color: rgb(184, 34, 221);
    text-decoration-thickness: 2px;
}

.project-title, 
.task-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-purple);
}

.project-title {
    margin-top: -20px;
}

.task-title {
    margin-top: -10px;
}

.project-form-container, 
.task-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 50px;

    background-color: rgb(238, 210, 234);
}

.project-form, 
.task-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.form-title {
	flex-basis: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(1rem + 0.5vw);
	font-weight: bold;
	padding: 0 0 1vh 0;
}

.tasks-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    padding-left: 10px;
}

.input-container {
	display: flex;
	flex-basis: 50%;
	flex-grow: 1;
	flex-direction: column;
}

.text-inputs-container input, 
 textarea {
	margin: 10px 0 0;
	width: 600px;
    font-size: 1.2rem;
    height: 1.5lh;
	border: solid 1px #E5E7EB;
	border-radius: 0.5vh;
}

textarea {
    padding: 10px;
    resize: none;
    height: 120px;
    font-size: 1rem;
    width: 600px;
}

textarea#task-description {
    height: 1lh;
}

.text-inputs-container input:focus, 
textarea:focus {
	appearance: none;
	border: 1px solid rgb(71, 71, 212);
	outline: 1px solid rgb(18, 136, 190);
	box-shadow: 0.25vw 0.25vw 0.25vw rgb(159, 159, 226);
}

label {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: rgb(88, 88, 88);
	font-size: calc(0.8rem + 0.2vw);
	font-weight: 400;
	margin-top: 1vh;
}

#text-inputs-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	padding: 4vh 8vh;
	background-color: white;
	box-shadow: 0.25vh 0.25vh 1vh grey;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

div.project-form button, 
div.task-form button {
	all:unset;
	cursor: pointer;

	padding: 1vh 4vh;
	border-radius: 5px;
	box-shadow: 0.25vh 0.25vh 0.5vh grey;
	background-color: var(--dark-purple);

	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
}

div.project-form button:hover, 
div.task-form button:hover {
	background-color: var(--light-purple);
}